<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSCameraUsageDescription</key>
        <string>A Pokédex precisa de acesso à câmera para tirar uma foto do seu Pokémon capturado.</string>

        <key>NSLocationWhenInUseUsageDescription</key>
        <string>A Pokédex precisa da sua localização para registrar exatamente onde o Pokémon foi capturado.</string>
        <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
        <string>A Pokédex precisa da sua localização para registrar exatamente onde o Pokémon foi capturado.</string>
</dict>
</plist>
